<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/newsong.css}">
</head>
<body>
<fieldset>
<legend>Add song page</legend>
<form action="addsong" method="post">
<label>Song name : </label>
<input type="text" name="name"/>
<br>
<br>
<label>Song Artist : </label>
<input type="text" name="artist" />
<br>
<br>
<label>Song Genre : </label>
<input type="text" name="genre"/>
<br>
<br>
<label>Song link : </label>
<input type="text" name="link"/>
<br>
<br>
<input type="submit" value="add song"/>
</form>


</fieldset>

</body>
</html>